%h1
  ここでログインする

= link_to 'ホームへ', root_path

- if flash[:notice]
  .notice
    = flash[:notice]


= form_for :session, url: sessions_login_path do |f|
  = f.label :name, class: "login-session-label"
  = f.text_field :name, class: "login-session-form_box"

  = f.label :password, class: "login-session-label"
  = f.text_field :password, class: "login-session-form_box"

  = f.submit 'ログイン'


