.footer
  .footer__navi
    %ul.footer__navi__list
      %li
        = link_to(root_path) do
          HOME
          %i.fas.fa-home
      %li
        = link_to(profile_home_index_path) do
          Profile
          %i.fas.fa-user
      %li
        = link_to(product_index_path) do
          Portfolio
          %i.fas.fa-folder-open
      %li
        = link_to(blog_home_index_path) do
          Blog
          %i.fas.fa-blog
      %li
        = link_to(contact_home_index_path) do
          Contact
          %i.fas.fa-phone

  .footer__rights
    (C) 2019 Keishi Masui     All Rights Reserved
