.container
  = render "share/header"
  .portfolio-main
    .left
      .left__contents
        %h2.portfolio-title
          Portfolio

        .products.clearfix
          - @products.each do |product|
            .product
              = link_to product_path(product.id) do
                = image_tag product.image, class: "product-image"
              %h3.product-title
                = product.name
              %p.product-language
                = product.language
              %p.product-comment
                = product.comment

          = link_to sessions_login_path, class: "admin-link" do
            %i.fas.fa-key
            管理ページ

    / .right
    /   .right__contents
    /     .new_post
    /       = link_to new_product_path do
    /         new post
    /     .others
    /       if_user_signed_in(mypage)
    /       %br
    /       news
    /       %br
    /       genre


    .clearfix

  = render "share/footer"

