.container
  = render "share/header"
  .main
    .left
      .left__contents
        %h2.portfolio-title
          Portfolio
        .products
          .product
            = link_to root_path do
              = image_tag "no_image.jpg", class: "product-image"
            %h3.product-title
              サンプル
            %p.product-language
              html / sass / ruby / Rails
            %p.product-comment
              こんな作品です。こんな作品なので、あんなところや、こんなところを見て欲しいです。あとこんなところをがんばりましたので、こんなところを評価して欲しい。
          .product
            = link_to root_path do
              = image_tag "no_image.jpg", class: "product-image"
            %h3.product-title
              サンプル
            %p.product-language
              html / scss / ruby / Rails
            %p.product-comment
              こんな作品です。こんな作品なので、あんなところや、こんなところを見て欲しいです。あとこんなところをがんばりましたので、こんなところを評価して欲しい。
          .product
            = link_to root_path do
              = image_tag "no_image.jpg", class: "product-image"
            %h3.product-title
              サンプル
            %p.product-language
              html / scss / ruby / Rails
            %p.product-comment
              こんな作品です。こんな作品なので、あんなところや、こんなところを見て欲しいです。あとこんなところをがんばりましたので、こんなところを評価して欲しい。
          .product
            = link_to root_path do
              = image_tag "no_image.jpg", class: "product-image"
            %h3.product-title
              サンプル
            %p.product-language
              html / scss / ruby / Rails
            %p.product-comment
              こんな作品です。こんな作品なので、あんなところや、こんなところを見て欲しいです。あとこんなところをがんばりましたので、こんなところを評価して欲しい。
          .product
            = link_to root_path do
              = image_tag "no_image.jpg", class: "product-image"
            %h3.product-title
              サンプル
            %p.product-language
              html / scss / ruby / Rails
            %p.product-comment
              こんな作品です。こんな作品なので、あんなところや、こんなところを見て欲しいです。あとこんなところをがんばりましたので、こんなところを評価して欲しい。


    .right
      .right__contents


    .clearfix

  = render "share/footer"
/ <%= link_to image_tag("logo.png"), :action => "index" %>
/ # <a href="/blogs"><img alt="Logo" src="/images/logo.png" /></a>
