.container
  = render "share/header"
  .main
    .left
      .left__contents
        %h2.form-title
          New Post
        .form
          = form_for @product, url: {action: "create"} do |f|
            .form__content
              = f.label :名前, class: "form__label"
              = f.text_field :name, class: "text_box"
            .form__content
              = f.label :画像, class: "form__label"
              = f.file_field :image, class: "image_box"
            .form__content
              = f.label :使用言語, class: "form__label"
              = f.text_field :language, class: "text_box"
            .form__content
              = f.label :説明文, class: "form__label"
              = f.text_area :comment, class: "text_area_box"

              = f.submit :submit,class: "submit_button"

    .right
      .right__contents


    .clearfix

  = render "share/footer"
