.container
  = render "share/header"
  .product-main
    .left
      .left__contents
        %h2.form-title
          New Post
        = form_for @product, url: {action: "create"} do |f|
          .form
            .form__content
              = f.label :画像, class: "form__label"

              .img_field#img_field{onClick: "$('#file').click()"}
                - if @product.image.url.present?
                  = image_tag @product.image.url
                - else
                  .img_field_inner
                    プレビュー
                    %i.fas.fa-image.fa-2x
              %br

              %label{for: 'file', class: 'image_box'}
                %i.fas.fa-file-upload.fa-2x
                %br
                クリックでサムネイルをアップロード
              = f.file_field :image, id: "file", style: "visibility:hidden"

            .form__content
              = f.label :名前, class: "form__label"
              = f.text_field :name, class: "text_box",placeholder:"タイトル"
            .form__content
              = f.label :使用言語, class: "form__label"
              = f.text_field :language, class: "text_box",placeholder:"プログラミング言語"
            .form__content
              = f.label :説明文, class: "form__label"
              .text_area
                = f.text_area :comment, class: "text_area_box"
            .form__content
              = f.submit :submit,class: "submit_button"

    .right
      .right__contents


    .clearfix

  = render "share/footer"
